

@media (max-width: 1232px){
    
    .team__inner-item{
        height: auto;
        width: 50%;
    }
   
    .team__item-name{
        font-size: 25px;
    }
    .team__item-position{
        font-size: 17px;
    }
}

@media (max-width: 1180px){
    .content__img-top{
        left: 35%;
    }
    .content__img-bottom{
        left: 65%;
    }
}

@media (max-width: 1041px){
    .content__block{
        padding: 50px 30px;
    }

    
    .fab{
        font-size: 15px;
    }
    .intro__title{
        font-size: 140px;
    }
    .intro__text{
        font-size: 25px;
        letter-spacing: 16px;
        
    }
    .header-logo{
        padding-right: 20px;
    }
    .header-logo .logo{
        width: 60px;
    }
    
    .work__inner-item{
        width: 50%;
    }
       
}

@media (max-width: 1000px){
    .header-menu .menu-item-link{
        font-size: 15px;
    }

    .header-menu .menu-item{
        margin-right: 35px;
    }
    .header-menu .menu-item:last-child{
        margin-right: 45px;
    }
    .actions-item{
        font-size: 15px;
    }
}
@media(max-width: 915px){
    .content__block{
        width: 100%;
        text-align: center;
        
    }
    .intro{
        height: auto;
        padding-top: 160px;
    }
    .btn__bottom{
        display: none;
    }
    .intro__title{
        font-size: 95px;
        
    }
    .intro__text{
        font-size: 16px;
        letter-spacing: 11px;
        max-width: 100%;
    }
    .content__photo{
        overflow: hidden;
        width: 100%;
    }
    .content__block-text{
        margin: 0 auto;
    }
    .content__block-reverse{
        order: 1;
    }
    .content__photo-reverse{
        order: 2;
    }
    .content__img{
        
        left: 0;
        top: 0;
        transform: translate3d(0,0,0);
    }

    .quick-action__item-text{
        font-size: 11px;
    }

    .quick-action__item-img{
        width: 59px;
    }
}
   
    
    
@media(max-width: 861px){
   .header-menu .menu-item-link{
        font-size: 12px;
    }
    .header-menu .menu-item{
        margin-right: 30px;
    }

    .header-menu .menu-item:last-child{
        margin-right: 40px;
    }

    .fab{
        font-size: 12px;
    }

    .work__text{
        font-size: 23px;
    }
    
    
    .title {
        font-size: 30px;
    }
    .feature__block-img{
        width: 95px;
        height: 95px;
    }
    .feature__block-img .img{
        width: 25px;
    }
    .feature__block-title{
        font-size: 14px;
    }
    .feature__block-text{
        font-size: 11px;
    }
    .features{
        padding: 70px 0 30px 0;
    }

    .key-feature__inner{
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-start;
    }
    .key-feature__content{
        width: 100%;
        align-items: center;
        
    }
    .key-feature__photo{
        width: 100%;
        
    }

    .key-feature{
        padding: 60px 0 60px 0;
    }
    .key-future__action{
        margin-top: 30px;
    }
    .key-feature__title{
        margin-bottom: 20px;
    }
   
    .key-feature__btn{
        text-align: left;
    }
    
   .quick-action{
       padding: 70px 0;
   }
   .form-action{
       padding-top: 30px
   }
   .form-action__inner__private-date input{
       width: 100%;
   }
   .map{
       height: 250px;
   }
   .footer{
       font-size: 10px;
   }
   .form-action__btn{
       margin-bottom: 40px;
   }

}

@media (max-width: 735px){
    .form-action__title{
        line-height: 1;
    }
}

@media (max-width: 695px){

    .navbar__actions{
        display: none;
    }
    .header__inner{
        padding-top: 14px;
    }
    .burger{
        display: block;
        
    }
    
    .burger-active .burger__line{
        background-color: transparent;
    }
   
    .burger-active .burger__line::before{
        transform: rotate(45deg);
        padding: 0;
        margin-bottom: -20px;
    }
    .burger-active .burger__line::after{
        transform: rotate(-45deg);
        padding: 0;
        margin-top: 4px;
    }
    
}


@media (max-width: 658px){
    .feature__block{
        width: 50%;
        
    }

    .feature__block-title{
        margin-bottom: 17px;
    }
    .work__inner{
        padding: 30px 0;
    }
    .work__inner-item{
        width: 100%;
        
    }
    .quick-action{
        padding: 50px 0;
    }
    .quick-action__item{
        width: 100%;
        margin-bottom: 30px;
        
    }
    
    
    .quick-action__item:last-child{
        margin-bottom: 0;
    }

    .quick-action__item-text{
        font-size: 12px;
    }
    
}


@media(max-width: 607px){
    .title{
        font-size: 27px;
    }
    .form-action__title{
        line-height: 1;
    }

    
}
@media(max-width: 600px){
    
    .intro{
        padding-top: 140px;
    }

    .intro__title{
        font-size: 80px;
    }

    .logo_link .logo{
        width: 45px;
    }
    .intro__text{
        font-size: 14px;
        letter-spacing: 9px;
        margin-top: -7px;
        margin-bottom: 40px;
    }
    .team__inner-item{
        width: 100%;
    }
    
}

@media(max-width: 500px){

    .intro__title{
        font-size: 66px;
    }

    .intro__text{
        font-size: 15px;
        letter-spacing: 5px;
        
    }
    .feature__block{
        width: 100%;
        
    }
    .key-feature__btn{
        width: 300px
    }
    .title {
        font-size: 20px;
    }
    .symbol{
        font-size: 244px;
    }
}

@media(max-width: 425px){
    .intro__title{
        font-size: 45px
    }

    .intro__text{
        font-size: 8px;
        letter-spacing: 5px;
        margin-top: -3px;
        
    }

}

