*{
    box-sizing: border-box;
}
div{
    color: blue;
    width: 270px;
    padding: 15px;
    margin: 10px;
}

img {
    display: block;
    max-width: 100%;
    margin-left: 50px;
}
/* BEFORE AFTER только у парных тегов */
p::after{
    /* position: absolute;
    bottom: 0;
    left: 0;
    display: block; */
    content: url(./images/Logo.png);
   
    /* width: 50px;
    height: 50px;
    background-color: teal; */
}

.layer {
 
    overflow-x: scroll; /* Добавляем полосы прокрутки */
    width: 450px; /* Ширина блока */
    height: 150px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
   } 

ul,li{
    padding: 0;
    list-style: none;
    margin: 0;
}


.menuWrapper{
    width: 300px;
    background-color: teal;
    overflow-x: scroll;
}

.menu{
    
    padding: 14px;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    
}

.menu__item{
    /* display: inline-block; */
    
}
.menu__item:last-child{
    margin-right: 0;
}